<%= form_with model: @recipe, url: recipes_path, method: :post do |form| %>
  <div>
    <h1>New Recipe</h1>
    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :preparation_time %>
    <%= form.text_field :preparation_time %>

    <%= form.label :cooking_time %>
    <%= form.text_field :cooking_time %>

    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.radio_button :is_public, true %>
    <%= form.label :is_public, 'Public', value: 'True' %>

    <%= form.radio_button :is_public, false %>
    <%= form.label :is_public, 'Private', value: 'False' %>
  </div>

  <div>
    <span><%= form.submit 'Add Recipe' %></span>
  </div>
<% end %>
