<div class="recipe-item-container">
  <div class="recipe-title">
    <h2><%= @recipe.name %> Recipe</h2>
  </div>
  <div class="prep-steps">
    <p>Preparation Time: <%= @recipe.preparation_time%> Minutes </p>
    <br>
    <p>Cooking Time:<%= @recipe.cooking_time %> Minutes </p>
    <br>
    <p>Steps:<br><%= @recipe.description %> </p>

    <div class="toggle">
      <% if @recipe.is_public %>
        <span>Public</span>
        <%= link_to "/toggle/#{@recipe.id}" do%>
          <label><input type="checkbox" value="" checked></label>
        <%end%>

      <% else %>
        <span>Public</span>
        <%= link_to "/toggle/#{@recipe.id}" do%>
          <label><input type="checkbox" value=""></label>
        <%end%>
      <% end %>
    </div>
  </div>
  <div class="recipe-buttons">
    <% if current_user.id == @recipe.user.id%>
      <%= link_to "Generate Shopping List", shopping_list_path, class: "link-buttons" %>
      <%= link_to 'Add Ingredient', "/recipies/#{@recipe.id}/recipe_foods/new", class: "link-buttons" %>
    <%end%>
  </div>
  <hr>
  <table>
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Value</th>
      <% if current_user.id == @recipe.user.id%>
      <th scope="col">Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @recipe.recipe_foods.each do |ingredient|%>
      <tr>
          <td><%= ingredient.food.name %></td>
          <td><%= ingredient.quantity%> <%= ingredient.food.measurement_unit %></td>
          <td>$ <%= ingredient.food.price %></td>
          <% if current_user.id == @recipe.user.id%>
          <td>
              <%= button_to "Remove", recipy_recipe_food_path(@recipe.id, ingredient.food.id), method: :delete%>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>





