<section class="food-page">
<h1>Foods page :</h1>
<div class="add-food-link">
  <%= link_to 'Add Food', '/foods/new' %>
</div>
  <table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Measurement Unit</th>
        <th>Unit Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food|  %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.measurement_unit %></td>
          <td><%= food.price %></td>
          <td>
            <%= link_to "Delete", food_path(food.id), method: :delete, class: "delete-link" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>