<section class="new-food-title">
<h1>Add Food</h1>

<% if @food.errors.any? %>
  <div class="post-errors-box">
    <p><%= pluralize(@food.errors.count, "error") %> found:</p>
    <ul class="food-errors-ul">
      <% @food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with path: new_food_path, model: @food, method: :post do |form| %>
<%= form.label :name, class: "add-form"%>
<%= form.text_field :name, class: "add-form"%>
<br>
<%= form.label :measurement_unit, class: "add-form"%>
<%= form.text_field :measurement_unit, class: "add-form"%>
<br>
<%= form.label :price, class: "add-form"%>
<%= form.text_field :price, class: "add-form"%>
<br>
<%= form.label :quantity, class: "add-form"%>
<%= form.number_field :quantity, class: "add-form"%>
<br>
<%= form.submit%>
<% end %>
</section>
