<%= form_with url: "/recipes/#{params[:recipe_id]}/recipe_foods", model: @recipe_foods, method: :post do |form| %>
  <section>
    <h1>New Form for Ingredient</h1>

    <%= form.label :quantity %>
    <%= form.number_field :quantity %>

    <%= form.label :food_id %>
    <%= form.collection_select :food_id, Food.all, :id, :name %>

    <%= form.submit 'Add Ingredient' %>
  </section>
<% end %>
