<%= form_with url: "/recipies/#{params[:recipy_id]}/recipe_foods", model: @recipe_foods, method: :post do |form| %>

<section>

<h1>New Form for Ingridient</h1>

<%= form.label :quantity %>
<%= form.number_field :quantity %>

<%= form.label :food_id%>
<%= form.select :food_id, Food.all.map {|f| [f.name, f.id]} %>

<%= form.submit 'Add Ingridient' %>

<% end %>
</section>
